[Desktop Entry]
Name=Stremio
Comment=Freedom To Stream
Icon=com.stremio.Stremio
Categories=Utility;AudioVideo;Video;Player;
Keywords=Stremio;Media;Play;
Type=Application
Exec=stremio %u
MimeType=x-scheme-handler/stremio;
Terminal=false
StartupNotify=true
DBusActivatable=true